
/*!_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ MEDIA _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

/* _-_-_-_-_-_-_-_ MEDIA  w1000 _-_-_-_-_-_-_-_ */
@media screen and (max-width:1000px){
    .device {
        width: 80vw;
        margin: 10vh 10vw auto 10vw;
    }
    .window-case{
        margin: 10vh 12vw auto 12vw;
        width: 76vw;
    }
    nav div:first-of-type {
        width: 80vw;
    }
    header {
        display: none;
    }
}

/* _-_-_-_-_-_-_-_ MEDIA w700 _-_-_-_-_-_-_-_ */
@media screen and (max-width:700px){
    /* _____ Commun _____ */
    .device{
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0;
    }
    nav div:first-of-type {
        width: 100vw;
    }
    .A0_rhythm {
        margin: 0 5px;
    }
    .ads {/*scroll latéral sur écran principal => n'existe pas en vrai ?*/
        position:sticky;/*ou fixed...choisir*/
    }
    /* _____ E metronome _____ */    
    #A0-speed-light {
        width: 100%;
    }
    /* _____ E load _____ */
    .saves button {
        width: 60px;
    }
    .saves div img {
        width: 50%;
        min-width: 100px;
    }
    .previews {
        display: flex;
        justify-content: center;
    }
    /* _____ E transition _____ */
    .trans-rows input{
        width: 20px;
    }
    .btn-schema{
        width: 60px;
    }
    /* _____ E harmo _____ */
    .window-case{
        margin: 0 2vw auto 2vw;
        width: 96vw;
    }
}

/* _-_-_-_-_-_-_-_ MEDIA  h900 _-_-_-_-_-_-_-_ */
@media screen and (max-height:900px){
    .ads {
    position:sticky;
}
/*TODO @media format paysage */
/*TODO IPad Pro et NestHub*/
/*TODO Galaxy Fold*/