/*!_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ METRONOME _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/*  _-_-_-_-_-_-_-_  Choix signature  _-_-_-_-_-_-_-_  */
#A0_signature form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px auto;
}

#A0_signature label{
    padding-right: 10px;
    text-align: right;
}

/*  _-_-_-_-_-_-_-_  Affichage  _-_-_-_-_-_-_-_  */
#A0_show{
    display: flex;
    justify-content: space-evenly;
    margin:20px;
}

#A0_show div{
    height: 100px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

/*  _-_-_-_-_-_-_-_  Choix tempo  _-_-_-_-_-_-_-_  */
#A0_range {
    display: flex;
    justify-content: space-evenly;
}

#A0_range input{
    height: 5px;
    margin:30px;
    width: 100%;
/*TODO changer la couleur du range*/
}
/*input[type='range'] {
    -webkit-appearance: none !important;
    background:rgb(224, 15, 15);
    height:7px;
    border-radius: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
} */
/*TODO ^^ c'est bien, mais il faudrait pouvoir différencier l'avant et après curseur*/
#A0_range div {
    display: none;
}
#A0_manage_bpm {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

#A0_manage_bpm div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

#A0_manage_bpm div:nth-child(1),
#A0_manage_bpm div:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

.btn15 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
/*  _-_-_-_-_-_-_-_  Play / Pause  _-_-_-_-_-_-_-_  */
#A0_btn_down {
    display: flex;
    justify-content: center;
    margin: 40px auto 20px auto;
}
.btn-play,
.btn-pause {
    margin: 0 20px;
}
.btn-play:hover {
    background-color: rgb(2, 129, 19);
}

.btn-pause:hover {
    background-color: rgb(151, 1, 1);
}

.btn-play:active {
    background-color: rgb(0, 82, 12);
}

.btn-pause:active {
    background-color: rgb(94, 0, 0);
}
/*  _-_-_-_-_-_-_-_  Speed / Flash  _-_-_-_-_-_-_-_  */
#A0-speed-light {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

