
form {
    margin-right: 5px;
    width: 60%;
    display: none;
    text-align:center;
    margin: auto;
}
button[type*="submit"] {
    width: 60px;
    margin: 5px;
    padding: 5px;
}
#stats #stat:checked ~ form,
#mode #mod:checked ~ form,
#flashy #flash:checked ~ form,
#maxy #max:checked ~ form,
#notation #nota:checked ~ form {
    display: block;
}
.pref-div {
    border-bottom: solid 1px #000;
}
input[type*="number"] {
    width: 50px;
}
input[name*="pref"]{
    display: none;
}
.pref-div:hover {
    background-color: #333; 
}

.pref-choix {
    display: flex;
}
form input,
form label {
    margin: 5px;
}
