/*!_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ METRONOME _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/*  _-_-_-_-_-_-_-_  Choix signature  _-_-_-_-_-_-_-_  */
#A0_signature form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px auto;
}

#A0_signature label{
    padding-right: 10px;
    text-align: right;
}

/*  _-_-_-_-_-_-_-_  Affichage  _-_-_-_-_-_-_-_  */
#A0_show{
    display: flex;
    justify-content: space-evenly;
    margin:20px;
}

#A0_show div{
    height: 100px;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

/*  _-_-_-_-_-_-_-_  Choix tempo  _-_-_-_-_-_-_-_  */
#A0_range {
    display: flex;
    justify-content: space-evenly;
}

#A0_range input{
    height: 5px;
    margin:30px;
    width: 100%;
/*TODO changer la couleur du range, ou plutôt le supprimer pour laisser la place à l'affichage de la gamme*/
}
/*input[type='range'] {
    -webkit-appearance: none !important;
    background:rgb(224, 15, 15);
    height:7px;
    border-radius: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
} */
/*TODO ^^ c'est bien, mais il faudrait pouvoir différencier l'avant et après curseur*/
#A0_range div {
    display: none;
}
#A0_manage_bpm {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

#A0_manage_bpm div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

#A0_manage_bpm div:nth-child(1),
#A0_manage_bpm div:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

#tempo{
    /* background-color: #00c870; *//*TODO changer le focus*/
    background-color: rgba(0, 215, 117,0.1);
    /*TODO pourquoi il ne s'aligne pas avec la couleur...parce que sa couleur propre est influencée par la couleur du background de la div dans laquelle il se trouve?*/
    border: none;
    text-align: center;
}
#tempo{
    -moz-appearance: textfield;/*pas la même couleur de code, plus nécessaire?*/
}
/* Chrome */
#tempo::-webkit-inner-spin-button,
#tempo::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
/* Opéra*/
#tempo::-o-inner-spin-button,
#tempo::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

.btn15 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
/*  _-_-_-_-_-_-_-_  Play / Pause  _-_-_-_-_-_-_-_  */
#A0_btn_down {
    display: flex;
    justify-content: center;
    margin: 40px auto 20px auto;
}
.btn-play,
.btn-pause {
    margin: 0 20px;
}
.btn-play:hover {
    background-color: #028113;
}

.btn-pause:hover {
    background-color: #970101;
}

.btn-play:active {
    background-color: #00520c;
}

.btn-pause:active {
    background-color: #5e0000;
}
/*  _-_-_-_-_-_-_-_  Speed / Flash  _-_-_-_-_-_-_-_  */
#A0-speed-light {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

/* .box-flash{
    display: none;
} */
/* .shows{
    background-color: #00c870;
    background-color: rgba(0, 255, 157,0.4);
} */

/* .diodeflash{
    background-color: #00c870;
    background-color: rgba(0, 255, 157,0.4);
    animation: flashy 1s infinite linear;
}

@keyframes flashy {
    0% {
        background-color: #ff0000;
    }
    50% {
        background-color: #00c870;
        background-color: rgba(0, 255, 157,0.4);
    }
} */